<h1>Upload Audio Files</h1>

<%= form_for @media_asset, url: {action: 'create'}, html: {class: 'dropzone', id: 'media-dropzone'} do |f| %>
  <div class="fallback row">
    <div class="twelve columns">
      <%= f.label :audio_file %>
      <%= f.file_field :audio_file %>
    </div>
    <div class="twelve columns">
      <%= f.submit "Upload", class: 'button-primary' %>
    </div>
  </div>
<% end %>

<%= link_to 'Back', media_assets_path %>
